  @import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:ital@0;1&display=swap');


html, body {
    height : 100%;
    margin: 0;
    border: 0;
    font-family: 'Caveat', cursive;
}

.container {
    background-image: url("sheetpaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0; /* Réinitialiser les marges du corps pour éviter les espaces blancs */
    padding: 0; /* Réinitialiser les marges du corps pour éviter les espaces blancs */
    height: 100vh;
}

.text {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: black;
    background-color: rgba(0, 0, 0, .5);
}